.i {
    display: flex;
    height: 100vh;
    background-color: black;
    color:white
  }
  
  .i-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-left {
    flex: 1;
    position: relative;
  }
  
  .i-right-wrapper {
    padding: 40px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .i-intro {
    font-size: 50px;
    font-weight: 350;
  }
  
  .i-title {
    height: 50px;
    overflow: hidden;
  }
  
  .i-title-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  
  .i-title-item {
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(200, 5, 255), rgb(230, 75, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
  }
  
  .i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .i-bg {
    clip-path: polygon(0% 100%, 50% 100%, 0% 100%, 100% 25%, 50% 0%, 0% 0%);
    background:  -webkit-linear-gradient(rgb(200, 5, 255), rgb(230, 75, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .i-contact{
    font-weight: 500;
  }

  i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
    }
    
  }